.navbar{
    background-color: #e3f2fd;
    padding: 10 23px;
}
a{
    cursor: pointer;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    text-align: center;
}
.img2{
    display: block;
    margin: auto;
    width: 45%;
    height: 45%;
    border-radius: 
    50% 10% 50%10%/
    10% 50% 10% 50%;
}
p{
    text-align: justify;
}
.img4{
    width: 50%;
}
.img1{
    padding-bottom: 20px;
    display: block;
    margin: auto;
}
aside p{
    text-align: justify;
}
.card{
    margin-bottom: 15px;
    background-color: #e3f2fd;
}